In [1]:
import pandas as pd

import numpy as np

from utils import SimulateData

In [2]:
ABCD_SSD_dists = pd.read_csv('abcd_data/SSD_dist_by_subj.csv')

In [27]:
ABCD_SSD_dists.NARGUID.unique()

array(['003RTV85', '00CY2MDM', '00HEV6HB', ..., 'jf8w3pw6', 'x8k59',
       'xxmy9wd8'], dtype=object)

In [4]:
sub_df = ABCD_SSD_dists.query("NARGUID=='003RTV85'")

In [18]:
n_trials = [int(i) for i in np.rint(sub_df.proportion.values * 10000)]

In [13]:
SSDs = sub_df.SSDDur.values

In [14]:
SSDs

array([300., 250., 400., 350., 450., 200., 150.,  50., 100.])

In [15]:
sub_df

    NARGUID  SSDDur  proportion
0  003RTV85   300.0    0.250000
1  003RTV85   250.0    0.183333
2  003RTV85   400.0    0.183333
3  003RTV85   350.0    0.166667
4  003RTV85   450.0    0.100000
5  003RTV85   200.0    0.050000
6  003RTV85   150.0    0.033333
7  003RTV85    50.0    0.016667
8  003RTV85   100.0    0.016667

In [19]:
n_trials

[2500, 1833, 1833, 1667, 1000, 500, 333, 167, 167]

In [17]:
simulator = SimulateData()

In [20]:
params = {
    'SSDs': SSDs,
    'n_trials_stop': n_trials
}

In [21]:
tst_data = simulator.simulate(params)

In [25]:
len(tst_data.query("SSD==50"))

167

In [26]:
tst_data

,condition,SSD,trial_idx,mu_go,mu_stop,accum_go,accum_stop,process_go,process_stop,block,goRT,stopRT
0,stop,300.0,0,0.2,0.6,101.956852,78.171515,"[0.6364571518234805, 0, 0, 0.8062936406253605,...","[0, 4.322795328100644, 7.360380118817185, 11.0...",0,NaN,443.0
1,stop,300.0,1,0.2,0.6,100.220786,0.000000,"[1.9602087729937794, 1.6374849654250279, 1.217...",[],0,NaN,299.0
2,stop,300.0,2,0.2,0.6,87.948124,100.865098,"[2.0586773695201086, 3.2588181139301757, 4.918...","[1.9566057403339938, 2.6365789292091386, 5.074...",0,NaN,NaN
3,stop,300.0,3,0.2,0.6,85.788294,100.752269,"[0, 0, 0, 0, 0.8233325045680226, 0, 0, 0, 0, 0...","[0, 0.7913957640285559, 0, 0, 0, 0, 0, 0.14819...",0,NaN,NaN
4,stop,300.0,4,0.2,0.6,63.321075,103.688808,"[0, 0.3370771213517245, 0, 1.3262388304067685,...","[0, 0, 1.5927586066622843, 2.700283974778235, ...",0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10995,go,NaN,995,0.2,0.6,100.381381,0.000000,"[0.305822216308594, 0.16829053127128463, 0.460...",[],0,520.0,NaN
10996,go,NaN,996,0.2,0.6,100.661246,0.000000,"[0.10008182730747567, 0, 0.4124787657772887, 2...",[],0,430.0,NaN
10997,go,NaN,997,0.2,0.6,100.446107,0.000000,"[1.0419105575235412, 1.1887661182242721, 1.442...",[],0,504.0,NaN
10998,go,NaN,998,0.2,0.6,100.193032,0.000000,"[0, 1.3885971843860525, 1.68092646214971, 2.19...",[],0,495.0,NaN
10999,go,NaN,999,0.2,0.6,101.823899,0.000000,"[0, 0, 0, 1.496147789885502, 1.684184738606624...",[],0,634.0,NaN