In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ls ssrt_metrics

guesses.csv                    indiv_vanilla.csv
indiv_graded_mu_go_linear.csv  linear.csv
indiv_graded_mu_go_log.csv     log.csv
indiv_guesses.csv              vanilla.csv

In [5]:
example_data = pd.read_csv('ssrt_metrics/indiv_guesses.csv', index_col=0)

In [6]:
example_data

      SSD  SSRT_standard  SSRT_w_guesses  SSRT_w_graded
0     0.0     539.942373       60.949779         1600.0
1    50.0     489.942373       53.076892          486.0
2   100.0     439.942373       63.938005          368.0
3   150.0     389.942373       86.785527          332.0
4   200.0     339.942373      150.000000          317.0
5   250.0     289.942373      187.000000          302.0
6   300.0     239.942373      199.000000          289.0
7   350.0     189.942373      207.000000          272.0
8   400.0     139.942373      207.000000          267.0
9   450.0      89.942373      210.000000          236.0
10  500.0      39.942373      208.000000          228.0
11  550.0     -10.057627      211.000000          204.0